.ui.button.primary 
{
    border-radius: 20px; 
    background-color: rgb(4, 105, 237); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    
  }
  
  .ui.button.primary:hover 
  {
    background-color: #333;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  }